<nav>
  <div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
    <%= link_to "Contact Bucket", root_path, class:"brand-logo right", data: {turbolinks:"false"} %>
  </div>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed sidenav-right">
  <li><div class="user-view">
    <div class="background">
        <%= image_tag "profile_bkg.jpg" %>
    </div>
    <a href="#user"><i class="fas fa-user-circle fa-4x white-text"></i></a>
    <a href="#name"><span class="white-text darken-4 name"><b><%= current_user.name %><b></span></a>
    <a href="#email"><span class="white-text darken-4 email"><b><%= current_user.email %><b></span></a>
  </div></li>
  <li><%= link_to explore_path, class: "waves-effect" do %><i class="material-icons">contacts</i>Contacts<% end %></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Settings</a></li>
  <li><%= link_to edit_user_registration_path, class: "waves-effect" do %><i class="material-icons">account_circle</i>Profile<% end %></li>
  <% unless current_user.authy_enabled %>
    <li><%= link_to user_enable_authy_path, class: "waves-effect", data: {turbolinks:"false"} do %><i class="material-icons">security</i>Enable 2FA<% end %></li>
  <% end %>
  <li><div class="divider"></div></li>
  <li><%= link_to destroy_user_session_path, class: "waves-effect", data: {turbolinks:"false"} do %><i class="material-icons">close</i>Close Session<% end %></li>
</ul>
