<div class="container">
<div class="row card-panel hoverable">
<div class="col m6 s12">
  <div class="row img-login"></div>
</div>
<div class="login-form col m6 s12">
  <%= verify_authy_installation_form do %>
  <div class="row center title">
    <h4 class="teal-text text-lighten-2">Verify your account</h4>
    <p> Please insert your authy code </p>
  </div>
    <div class="row">
      <div class="input-field">
        <%= label_tag :token %>
        <%= text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field center">
        <%= authy_request_sms_link %>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <%= submit_tag I18n.t('enable_my_account', {:scope => 'devise'}), :class => 'btn btn-large waves-effect waves-light col s12 white-text' %>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
