<div id="index-banner" class="parallax-container main-parallax">
  <div class="section no-pad-bot">
    <div class="container brand-container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Contact Bucket</h1>
      <div class="row center">
        <h5 class="header col s12 light">The Best and Most Secure Way to Store your Contacts</h5>
      </div>
      <div class="row center">
        <%= link_to "Manage your contacts", contacts_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><%= image_tag "background1" %></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Fast</h5>
          <p class="light">With only a few steps, you can manage your list of contacts in a very easy way. It's amazing!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">sync</i></h2>
          <h5 class="center">Sync</h5>

          <p class="light">All your contacts are constantly syncronized with the app on your phone. You'll never loose a contact from now on.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">lock</i></h2>
          <h5 class="center">Secure</h5>
          <p class="light">Your contacts never were more secure than now. You can add an extra layer of security enabling the two factor authentication.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Stop using post its for saving your contacts!</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag "background2.jpg" %></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Your account is secure with the last technology available</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag "background3.jpg" %></div>
</div>
<%= render partial: "components/footer" %>
